<div class="dark-background">
  <hr class="gradient">
  <div class="footer-content">
    <div class="card">
      <div class="card-info">
       <p style="color:#ee7752">{{stats.numberOfEvents}}</p>
       <p >Događaja</p>
      </div>
    </div>



    <div class="card">
      <div class="card-info">
        <p style="color:#e73c7e">{{stats.numberOfOrganizers}}</p>
        <p>Organizatora</p>

      </div>
    </div>
    <div class="card">
      <div class="card-info">
        <p style="color:#23a6d5">{{stats.numberOfVisitors}}</p>
        <p>Korisnika</p>
      </div>
    </div>
  </div>


  <div class="made-text"><p>Made with <span class="heart">&hearts;</span> by Optimum @FER</p></div>
</div>
